<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-6 col-sm-12">
      <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
           aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{modalHeader}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>

      <div id="overlay">
        <div class="row justify-content-center">
          <div class="card" style="width: 90%;">
            <div class="card-body">
              <div class="row justify-content-between">
                <div class="col-auto">
                  <h3 class="card-title">{{textFileName}}</h3>
                </div>
                <div class="col-auto">
                  <i class="fas fa-window-close fa-2x" (click)="hideFileOverlay()"></i>
                </div>
              </div>
              <p class="card-text" style="height: 85vh; overflow-y: scroll;">{{textFileContent}}</p>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="breadcrumb">
        <div class="row no-gutters">
          <div class="col-auto mt-1 mr-1">
            <button type="button" class="nav-item btn btn-dark" (click)="breadCrumbClick(currentPath.length-2)"
                    [attr.disabled]="currentPath.length>1?null:true">
              <i class="fas fa-chevron-up"></i>
            </button>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li
                *ngFor="let part of currentPath"
                [ngClass]="{'breadcrumb-item': true, 'active': isLastDir(part)}"
                [attr.aria-current]="isLastDir(part)?'page':''"
              >
                <a [attr.href]="!isLastDir(part)?'#':null"
                   (click)="breadCrumbClick(currentPath.indexOf(part))">{{part}}</a>
              </li>
            </ol>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 order-md-2">
      <div class="card">
        <h5 class="card-header">Actions</h5>
        <div class="card-body">
          <p class="card-text">Choose what you want to do with files</p>
          <div class="btn-group  btn-group-sm" role="group" aria-label="Choose action">
            <button type="button" class="btn btn-secondary active" id="browse-button"
                    (click)="handleFileActionButton($event)">
              Browse
            </button>
            <button type="button" class="btn btn-secondary" id="rename-button" (click)="handleFileActionButton($event)">
              Rename
            </button>
            <button type="button" class="btn btn-secondary" id="copy-button" (click)="handleFileActionButton($event)">
              Copy
            </button>
            <button type="button" class="btn btn-secondary" id="move-button" (click)="handleFileActionButton($event)">
              Move
            </button>
            <button type="button" class="btn btn-secondary" id="delete-button" (click)="handleFileActionButton($event)">
              Delete
            </button>
          </div>

          <div class="dropdown-divider"></div>

          <div id="browse-block" style="display: block;">
            <p class="card-text">
              Click on files and directories to browse through file system
            </p>
          </div>
          <div id="rename-block" style="display: none;">
            <p class="card-text">
              {{selectedFile==null?'Select file to rename':getFileNameFromPath(selectedFile.path)}}
            </p>
            <form class="form" *ngIf="selectedFile!=null">
              <input type="text" class="form-control" id="input-new-name" name="input-new-name"
                     [(ngModel)]="newNameInput" placeholder="New name">
              <button type="submit" class="btn btn-primary mt-2"
                      (click)="renameSelectedFile(newNameInput)" [disabled]="newNameInput==''">Rename
              </button>
            </form>
          </div>
          <div id="copy-block" style="display: none;">
            <div class="row">
              <p class="card-text col-auto">
                {{selectedFile==null?'Select file to copy':getFileNameFromPath(selectedFile.path)}}
              </p>
              <i class="fas fa-times-circle col mt-1" *ngIf="selectedFile!=null" (click)="selectedFile=null"></i>
            </div>
            <p class="card-text" *ngIf="selectedFile!=null">
              Now go to directory to which you want to copy file
            </p>
            <button type="submit" class="btn btn-primary mt-1"
                    (click)="copySelectedFileToCurrentDir()" *ngIf="selectedFile!=null">Copy
            </button>
          </div>
          <div id="move-block" style="display: none;">
            <div class="row">
              <p class="card-text col-auto">
                {{selectedFile==null?'Select file to move':getFileNameFromPath(selectedFile.path)}}
              </p>
              <i class="fas fa-times-circle col mt-1" *ngIf="selectedFile!=null" (click)="selectedFile=null"></i>
            </div>
            <p class="card-text" *ngIf="selectedFile!=null">
              Now go to directory to which you want to move file
            </p>
            <button type="submit" class="btn btn-primary mt-1"
                    (click)="moveSelectedFileToCurrentDir()" *ngIf="selectedFile!=null">Move
            </button>
          </div>
          <div id="delete-block" style="display: none;">

          </div>

          <div class="dropdown-divider"></div>

          <p class="card-text">Or load new file to the current directory</p>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-6 col-sm-12 order-md-1">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-primary">
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Created</th>
            <th scope="col">Last modified</th>

            <th style="width:7.5vw" scope="col">Last accessed</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let file of currentContent"
              (click)="handleFileClick(file)">
            <td><i class="fas {{getFileIconName(file)}} fa-2x mr-2"></i></td>
            <td>{{getFileNameFromPath(file.path)}}</td>
            <td>{{!file.directory?getSizeString(file.size):''}}</td>
            <td>{{file.creationDate.toLocaleString()}}</td>
            <td>{{file.lastModifiedDate.toLocaleString()}}</td>
            <td>{{file.lastAccessDate.toLocaleString()}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
