<div class="container">
  <div id="overlay">
    <div class="row justify-content-center">
      <div class="card" style="width: 90%;">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-auto">
              <h3 class="card-title">{{textFileName}}</h3>
            </div>
            <div class="col-auto">
              <i class="fas fa-window-close fa-2x"  (click)="hideFileOverlay()"></i>
            </div>
          </div>
          <p class="card-text" style="height: 85vh; overflow-y: scroll;">{{textFileContent}}</p>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <div class="row no-gutters">
      <div class="col-auto mt-1 mr-1">
        <button type="button" class="nav-item btn btn-dark" (click)="breadCrumbClick(currentPath.length-2)"
                [attr.disabled]="currentPath.length>1?null:true">
          <i class="fas fa-chevron-up"></i>
        </button>
      </div>
      <div class="col">
        <ol class="breadcrumb">
          <li
            *ngFor="let part of currentPath"
            [ngClass]="{'breadcrumb-item': true, 'active': isLastDir(part)}"
            [attr.aria-current]="isLastDir(part)?'page':''"
          >
            <a [attr.href]="!isLastDir(part)?'#':null" (click)="breadCrumbClick(currentPath.indexOf(part))">{{part}}</a>
          </li>
        </ol>
      </div>
    </div>
  </nav>

  <table class="table table-hover">
    <thead class="table-primary">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Created</th>
      <th scope="col">Last modified</th>
      <th scope="col">Last accessed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of currentContent" (click)="file.directory?loadDirectory(file.path):tryOpenFile(file.path)">
      <td><i class="fas {{getFileIconName(file)}} fa-2x mr-2"></i></td>
      <td>{{getFileNameFromPath(file.path)}}</td>
      <td>{{getSizeString(file.size)}}</td>
      <td>{{file.creationDate.toLocaleString()}}</td>
      <td>{{file.lastModifiedDate.toLocaleString()}}</td>
      <td>{{file.lastAccessDate.toLocaleString()}}</td>
    </tr>
    </tbody>
  </table>
</div>
